<div id="main">
  <section class="sectionleft">
    <h2>X-Axis Measurements</h2>
    <div id="x_readings_chart" class="readings_chart"></div>

    <h2>Y-Axis Measurements</h2>
    <div id="y_readings_chart" class="readings_chart"></div>

    <h2>Z-Axis Measurements</h2>
    <div id="z_readings_chart" class="readings_chart"></div>
  </section>

  <section class="sectionright">
  </section>
</div>